{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel = "stylesheet", href = "{% static 'ml_app/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <title>index page</title>
</head>
<body>
    
    <br />

    <!-- User Form Field -->
    <div class = "container">
        <div class = "row"> 
            <form method = "POST" enctype = "multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type = "submit">Upload</button>
            </form>
        </div> 
    </div>

    <br />
    <br />
    
    <!-- Images and Videos uploaded by end user -->
    <div class = "container">
        {% for images in all_images %}
            <div class = "row">
                <div class = "col-md-12">
                    <h2>Uploaded Image and Video Image ID:- {{ images.id }}</h2>
                </div>
            </div>
            <div class = "row">
                <div class = "col-md-6">
                    <img src = "{{ images.image.url }}", class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
                </div>
                
                <div class = "col-md-6">
                    <video width='400' controls>
                        <source src="{{ images.video.url }}" type='video/mp4'>
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        {% endfor %}
    </div>  

    <br />
    <br /> 

    <!-- Predicted Image and Videos by YOLOv8 -->
    <div class="container">
        {% for predictions in all_predictions %}
            <div class = "row">
                <div class = "col-md-12">
                    <h2>Predicted Images and Video ID:{{ predictions.pred_image_id.id }}</h2>
                </div>
            </div>
            <div class = "row">
                <div class = "col-md-6">
                    <img src = "{{ predictions.pred_image.url }}", class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
                </div>
            
                <div class = "col-md-6">
                    {% if predictions.pred_video %}
                        {% comment %} <video width='400' controls>
                            <source src="{{ predictions.pred_video.url }}" type='video/avi'>
                            Your browser does not support the video tag.
                        </video> {% endcomment %}
                        <p>Video: <a href="{{ predictions.pred_video.url }}" target="_blank">Download Video</a></p>
                    {% else %}
                        <p>No Video</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <br>
    <br>
    
</body>
</html>