<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <title>index page</title>
</head>
<body>

    <br />

    <div class = "container">
        <div class = "row"> 
            <form method = "POST" enctype = "multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type = "submit">Upload</button>
            </form>
        </div> 
    </div>

    <br />
    <br />
    
    <div class = "container">
        <div class = "row">
            {% for images in all_images %}
                <div class = "col-md-6">
                    <h2>Uploaded Image and Video Image ID:- {{ images.id }}</h2>
                    <img src = "{{ images.image.url }}", class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
                </div>
                
                <div class = "col-md-6">
                    <video width='400' controls>
                        <source src="{{ images.video.url }}" type='video/mp4'>
                        Your browser does not support the video tag.
                    </video>
                </div>
            {% endfor %}
        </div>

        {% comment %} <h2>All Predicted Images and Video</h2>
        {% for predictions in all_predictions %}
            <div>
                <p>Predicted Image ID: {{ predictions.pred_image_id.id }}</p>
                <img src="{{ predictions.pred_image.url }}" alt="Pred Image">
                {% if predictions.pred_video %}
                    <p>Video: <a href="{{ predictions.pred_video.url }}" target="_blank">Download Video</a></p>
                {% else %}
                    <p>No Video</p>
                {% endif %}
            </div>
        {% endfor %}  {% endcomment %}

        <div class = "row">
            {% for predictions in all_predictions %}
                <div class = "col-md-6">
                    <h2>Predicted Images and Video ID:{{ predictions.pred_image_id.id }}</h2>
                    <img src = "{{ predictions.pred_image.url }}", class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
                </div>
            
                <div class = "col-md-6">
                    {% if predictions.pred_video %}
                        {% comment %} <video width='400' controls>
                            <source src="{{ predictions.pred_video.url }}" type='video/avi'>
                            Your browser does not support the video tag.
                        </video> {% endcomment %}
                        <p>Video: <a href="{{ predictions.pred_video.url }}" target="_blank">Download Video</a></p>
                    {% else %}
                        <p>No Video</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <br>
    <br>
    
</body>
</html>